*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  width: 960px;
  margin: 50px auto;
}

.list-ul{
  margin-bottom: 50px;
  list-style-type: none;
}

.list-text:nth-child(odd){
  background-color: #eee;
}

.list-text{
  padding: 20px;
}

.color-box{
  display: flex;
  flex-wrap: wrap;
}

.box:first-child{
  background-color: red;
}

.box:nth-child(3),
.box:nth-child(6){
  margin-right: 0;
}

.box:nth-child(5){
  background-color: red;
}

.box:nth-child(7),
.box:nth-child(8){
  margin-bottom: 0;
}


.box:last-child{
  margin-right: 0;
  margin-bottom: 0;
  background-color: red;
}

.box{
  width: 30%;
  height: 200px;
  background-color: blue;
  margin-right: 5%;
  margin-bottom: 40px;
}

