*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  width: 100%;
  height: 550px;
  background-color: black;
}

.header-top{
  width: 100%;
  height: 50px;
  background-color: darkviolet;
}

.header-bottom{
  width: 100%;
  height: 500px;
  background-color: chartreuse;
}

.main{
  width: 960px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.sidbar1{
  width: 230px;
  height: 1400px;
  background-color: brown;
}

.blog{
  width: 500px;
  height: 1400px;
  background-color: pink;
}


.sidbar2{
  width: 230px;
  height: 1400px;
  background-color: brown;
}

.footer{
  width: 100%;
  height: 100px;
  background-color: green;
}
