.box1 {
  width: 300px;
  height: 300px;
  background-color: green;
  margin-top: 30px;
  margin-left: 30px;
  padding: 60px;
  border: 30px solid orange;
}

.box2 {
  width: 100px;
  height: 100px;
  padding: 10px;
  background-color: blue;
  padding: 100px;

  /*box2の周囲全てに枠線を設定*/
  border-top:  15px solid yellow;
}

.box3 {
  width: 10px;
  height: 10px;
  background-color: black;
}

/*追加しました*/



