*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  padding: 30px 20px;
  background-color: blueviolet;
  display: flex;
  justify-content: flex-end;
}

.header-box{
  flex-basis: 140px;
  height: 70px;
  margin: 0 10px;
  background-color: #aaa;
}

.header-box:nth-child(1){
  margin-right: auto;
}

main{
  display: flex;
  justify-content: center;
}

.left-box{
  width: 300px;
  background-color: green;
}

.right-box{
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  background-color: yellowgreen;
  padding: 20px;
}

.box{
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
  background-color: #eee;
}

footer{
  width: 100%;
  padding: 20px;
  background-color: pink;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-box{
  max-width: 600px;
  flex-basis: 45%;
  height: 40px;
  margin: 10px;
  background-color: bisque;
}


